.wrapper {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px;
}

select {
    align-self: flex-end;
    text-align: right;
    background-color: black;
    color: white;
    padding-right: 20px;
}

nav a{
    margin: 10px;
    padding-left: 20px;
    text-decoration: none;
}
.nav-bar{
    display: flex;
   margin-top: 20px;
   margin-left: 20px;
}

.enlaces{
    display: flex;
    justify-content: flex-end;
}

#material-icons {
    color: white;
}

a {
    color: white;
    text-decoration-line: none;
    font-size: 13px;
}

a:hover {
    color: black;
    font-size: 20px;
    text-shadow: white;
}

.iviewSlider {
    background-image: url("../img/banner-back.png");
    height: 400px;
    background-size: cover;
    color: #3C2313;
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    padding: 30px 15px;
}

#sliderTitle{
    background-color: #FFFFFF;
    border-radius: 5px;
    font-size: 32px;
    font-weight: 500;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    align-items: flex-end;
    margin-top: 150px;
    margin-right: 80px;
    border-right: 50px;
}

#sliderText{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 5px;
    margin-right: 140px;
    border-right: 50px;
}

#sliderButton{
    background-color: #F0A83E;
    border-radius: 5px;
    border-style: none;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px;
    font-family: roboto;
    text-transform: uppercase;
    margin-right: 170px;
    border-right: 50px;
}

h2 {
    font-family: roboto;
    font-size: 30px;
    color: black;
    text-align: center;
    margin-top: 0;
    padding: 0; 
}

h3{
    text-align: center;
}

header{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: 0;
    margin-bottom: 0;
    color: #F3F3F3;
    font-size: 14px;
}

h1 {
    font-family: roboto;
    font-size: 40px;
    font-weight: 700;
    color: #3C2313;
    text-align: center;
}

.slick-list draggable , #producto_dest {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px ;
}

#prod1 {
    align-items: center;
    margin: 5px;
    width: 265px; 
}

#Descr_producto {
    font-family: roboto;
    font-size: 15px;
    font-weight: 500;
    color: #3C2313;
    margin: 0px;
}

#precio_producto{
    font-family: roboto;
    font-size: 15px;
    font-weight: 500;
    color: #F0A83E;
    margin: 0px;
}

#contacto {
    text-align: center;
}

#title_contacto{
    font-family: roboto;
    font-size: 25px;
    font-weight: 500;
    color: #3C2313;
    font-weight: bold;
}

input {
    background-color: #3C2313;
    color: white;
    border-radius: 15px;
    margin:10px;
    padding: 15px;
}

header nav{
    background-color:  #F0A83E;
    color:  #F3F3F3;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
}


header ul{
    display: none;
}

#suscripcion{
    background-color:  #F0A83E;
    color:  #F3F3F3;
    display: flex;
    justify-content: space-around;
}

#mail-susc{
    background-color: #FFFFFF;
    color:#A0A0A0;
    padding-left: 30px;
    padding-right: 150px; ;
}

.informacion-foot{
    background-color: #3C2313;
    color: #FFFFFF;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
}

.footerElement{
    align-items: center;
    display: flex;
}

.infoFooter{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.info1 {
    font-size: 20px;
    font-weight: 700;
}

.info2 {
    font-size: 10px;
    font-weight: 700;
}

#derechos{
    background-color: black;
    border-style: none;
    color: #F3F3F3;
    font-size: 16px;
    margin-top: 0px;
    padding: 20px;
    text-align: center;  
}